*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: #f5f5f5;
	background-color: darkorange;
  font-size: 18px;
  font-size: calc(10px + 2vmin);
}

body {
	background-color: #f5f5f5;
	color: black;
	display: flex;
	flex-direction: column;
	font-family: 'Patrick Hand', cursive;
	justify-content: center;
	line-height: 2em;
	margin: 0 auto;
	max-width: 620px;
	min-height: 100vh;
	min-width: 250px;
	padding: 1rem 2rem;
}

.intro {
	background-color: darkorange;
	color: white;
	border-radius: 30px;
	padding: 30px;
	margin: 30px;
}

.top {
	align-items: center;
	background-color: darkorange;
	display: flex;
	flex-direction: row;
	height: 50px;
	justify-content: center;
	margin-bottom: 100px;
	width: 100%;
}

.top nav,
.top ul,
.top li,
.top a {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 99%;
}

.top ul {
	background: transparent;
	cursor: pointer;
	font-size: 15px;
	list-style: none;
	text-align: center;
	text-transform: uppercase;
}

.top a {
	border: 3px solid darkorange;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.top a:hover {
  background-color: darkorange;
}

.actions {
	background-color: darkorange;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.todoapp {
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3),
							0 25px 50px 0 rgba(0, 0, 0, 4);
	margin: 130px 0 40px 0;
	position: relative;
}

.todoapp h1 {
	color: darkorange;
	font-size: 90px;
	position: absolute;
	text-align: center;
	top: -130px;
	width: 100%;
}

.new-todo {
	background: rgba(0, 0, 0, 0.003);
	border: 1px solid #999;
	border: 10px;
	box-sizing: border-box;
	color: darkorange;
	font-family: inherit;
	font-size: 24px;
	font-weight: inherit;
	line-height: 1.4em;
	margin: 0;
	padding: 16px 16px 16px 60px;
	position: relative;
	width: 100%;
}

.main {
	border-bottom: 20px solid #e6e6e6;
	border-top: 5px solid #e6e6e6;
	position: relative;
}

.todo-list {
	list-style: none;
	margin: 0 30px;
	padding: 0;
}

.todo-list li {
	border-bottom: 3px solid #ededed;
	position: relative;
}

.todo-list li:last-child {
	border-bottom: none;
}

.completed {
	color: #666666;
	text-decoration: line-through;
}

.return-home {
	background-color: darkorange;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 15px;
	justify-content: center;
	margin-bottom: 100px;
	text-transform: uppercase;
}

.footer {
	align-items: center;
	display: flex;
	font-size: 15px;
	justify-content: center;
	text-align: center;
}

.footer:before {
	bottom: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.3),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.3);
	content: '';
	height: 50px;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
}
