{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

<h1>Sign Up!</h1>
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

  <br>
  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" minlength="8" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
